<h1>New movie</h1>

<% @movies.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(model: @movies) do %>
  <div>
    <%= label_tag :title %>

    <%= text_field_tag "movie[title]", @movies.title %>

  </div>

  <div>
    <%= label_tag :description %>

    <%= text_area_tag "movie[description]", @movies.description, rows: 3 %>

  <%= button_tag "Create movie" %>
  
<% end %>

