<div>
  <div>
    <h1>
      Movie #<%= @movies.id %> details
    </h1>

    <div>
      <div>
        <%= link_to "Go back", movies_path %>
      </div>

      <div>
        <%= link_to "Edit movie", edit_movie_path(@movies) %>
      </div>

      <div>
        <%= link_to "Delete movie", @movies, method: "delete" %>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @movies.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @movies.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@movies.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@movies.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
