<h1>Edit director</h1>

<% @director.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(url: director_path(@director), method: :patch) do %>
  <div>
    <%= label_tag :name, "Name" %>

    <%= text_field_tag :name, @director.name, {id: "name_box"} %>

  </div>

  <div>
    <%= label_tag :date_of_birth, "Date of Birth" %>

    <%= date_field_tag :dob, @director.dob, id: "date_of_birth_box" %>

  <%= button_tag "Update director" %>
  
<% end %>


  